<google-map
    [zoom]="zoom"
    height="100vh"
    width="100%"
    [options]="mapOptions">

    <map-marker
        (mapClick)="onClick(marker)"
        *ngFor="let marker of markers"
        [icon]="currentLocationIcon"
        [position]="marker.position"
    >

    </map-marker>

    <map-marker
        (mapClick)="onClick(currentLocationMarker)"
        *ngIf="currentLocationMarker"
        [icon]="searchLocationIcon"
        [position]="currentLocationMarker.position"
    >
    </map-marker>

    <map-marker
        (mapClick)="onClick(searchLocationMarker)"
        *ngIf="searchLocationMarker"
        [position]="searchLocationMarker.position"
    >
    </map-marker>

</google-map>
