<google-map
  [zoom]="zoom"
  height="100vh"
  width="100%"
  [options]="mapOptions">

  @for (marker of markers; track marker) {
    <map-marker
      (mapClick)="onClick(marker)"
      [icon]="getParkingMarkerIcon(marker)"
      [options]="getParkingMarkerOptions(marker)"
      [position]="marker.position"
      >
    </map-marker>
  }

  @if (currentLocationMarker) {
    <map-marker
      (mapClick)="onClick(currentLocationMarker)"
      [icon]="searchLocationIcon"
      [position]="currentLocationMarker.position"
      >
    </map-marker>
  }

  @if (searchLocationMarker) {
    <map-marker
      (mapClick)="onClick(searchLocationMarker)"
      [position]="searchLocationMarker.position"
      >
    </map-marker>
  }

</google-map>
