header {
    display: grid;
    justify-items: center;
}

.form-field {
    &.sizes {
        input {
            display: none;
        }
        label {
            width: 100%;
        }
    }

    &.locations {
        display: grid;
        grid-gap: 0.5rem;
    }
}
