@import "src/app/common/style/common";

header {
    display: grid;
    justify-items: center;
}

.form-field {
    &.sizes {

        @media (max-width: $small-device-min-width) {
            display: grid;
            grid-auto-flow: column;
        }

        input {
            display: none;
        }

        label {
            @media (min-width: $small-device-min-width) {
                width: 100%;
            }
        }
    }

    &.locations {
        display: grid;
        grid-gap: 0.5rem;
    }
}
