$alice-blue: #E7ECEF;
$yale-blue: #274C77;
$cerulean-frost: #6096BA;
$baby-blue-eyes: #A3CEF1;
$battleship-grey: #8B8C89;

$small-device-min-width: 600px;
$medium-device-min-width: 768px;
$large-device-min-width: 992px;
$extra-large-device-min-width: 1200px;
