// theme
// https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500
$ocean-blue: #219ebc; // primary
$sky-blue: #8ecae6; // secondary
$navy-blue: #023047;
$golden-yellow: #ffb703; // accent

// additional
$parking-green: #2E7D32; // success
$sunset-orange: #fb8500; // warning
$danger-red: #dc3545; // danger

@mixin media-breakpoint-up($breakpoint) {
    @if $breakpoint == sm {
        @media (min-width: 576px) {
            @content;
        }
    }
}
