// Bootstrap imports
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// theme
$ocean-blue: #219ebc; // primary
$sky-blue: #8ecae6; // secondary
$navy-blue: #023047;
$golden-yellow: #ffb703; // accent

// additional
$parking-green: #2E7D32; // success
$sunset-orange: #fb8500; // warning
$danger-red: #dc3545; // danger
