header {
    display: grid;
    width: 100%;
}

.search {
    margin: 1rem 0;
}

.marker {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    margin: 2rem 0 0 0;
    width: 100%;

    .street-sign {
        background-color: white;
        border-radius: 0.5rem;
        color: green;
        display: grid;
        justify-items: center;
        margin: 1rem;

        .hour-limit {
            align-self: center;
            font-size: 5rem;
        }

        .title {
            font-size: 2rem;
        }

        .size {
            font-size: 1.5rem;
        }

        .arrow {
            font-size: 5rem;
        }

        .times {
            display: grid;
            font-size: 1.5rem;
            grid-column-gap: 0.25rem;
            grid-template-columns: 1fr auto 1fr;
        }
    }
}
