<article class="content">

    <form>
        <fieldset>
            <ul>
                <li>
                    <div class="form-label">
                        <label>Location</label>
                    </div>
                    <div class="form-field locations">
                        {{address}}
                        <button class="btn btn-dark btn-block" type="button" (click)="getCurrentLocation()">
                            <i class="bi-geo-alt"></i>
                            Use Current Location
                        </button>
                    </div>
                </li>
                <li>
                    <div class="form-label">
                        <label>Space for</label>
                    </div>
                    <div class="form-field sizes">
                        <div *ngFor="let option of sizeOptions">
                            <label class="btn btn-outline-secondary" for="size-{{option.value}}"
                                   [ngClass]="{active: option.value == location.size}">{{option.name}}
                                <input type="radio" name="size" id="size-{{option.value}}" value="{{option.value}}" [(ngModel)]="location.size">
                            </label>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="form-label">
                        <label>All day parking</label>
                    </div>
                    <div class="form-field locations">
                        <div class="btn-group">
                            <input type="radio" class="btn-check" name="all-day" id="all-day-yes" [(ngModel)]="location.allDay" [value]="true" checked />
                            <label class="btn btn-secondary" for="all-day-yes">Yes</label>
                            <input type="radio" class="btn-check" name="all-day" id="all-day-no" [(ngModel)]="location.allDay" [value]="false" />
                            <label class="btn btn-secondary" for="all-day-no">No</label>
                        </div>
                    </div>
                </li>

                <li *ngIf="!location.allDay">
                    <div class="form-label">
                        <label>Time limit</label>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="number" name="name" placeholder="Hours" [(ngModel)]="location.hourLimit" />
                    </div>
                </li>

                <li>
                    <div class="form-label">
                        <label>Restricted Hours</label>
                    </div>
                    <div class="form-field locations">
                        <div class="btn-group">
                            <input type="radio" class="btn-check" name="restricted-hours" id="restricted-hours-yes" [(ngModel)]="location.restrictedHours"
                                   [value]="true" />
                            <label class="btn btn-secondary" for="restricted-hours-yes">Yes</label>
                            <input type="radio" class="btn-check" name="restricted-hours" id="restricted-hours-no" [(ngModel)]="location.restrictedHours"
                                   [value]="false" checked />
                            <label class="btn btn-secondary" for="restricted-hours-no">No</label>
                        </div>
                    </div>
                </li>

                <li *ngIf="location.restrictedHours">
                    <div class="form-label">
                        <label>Available Times</label>
                    </div>
                    <div class="form-field locations">
                        <div class="btn-group">
                            <input class="form-control" name="start-time" placeholder="Start Time" type="time" [ngModel]="location.startTime | date:'hh:mm'"
                                   (ngModelChange)="location.startTime = $event" />
                            <input class="form-control" name="end-time" placeholder="End Time" type="time" [ngModel]="location.endTime | date:'hh:mm'"
                                   (ngModelChange)="location.endTime = $event" />
                        </div>
                    </div>
                </li>

            </ul>
        </fieldset>

        <fieldset>
            <ul>
                <li>
                    <div class="form-buttons">
                        <a class="btn btn-primary" role="button" (click)="onSubmit()">Submit</a>
                        <a routerLink="/" class="btn btn-dark">
                            Cancel
                        </a>
                    </div>
                </li>
            </ul>
        </fieldset>
    </form>
</article>
