<article class="content">

  <form>
    <fieldset>
      <div class="form-field form-field--locations">
        <div class="address-display">
          <i class="bi-geo-alt-fill"></i>
          @if (address) {
            <div>
              <h3>{{address}}</h3>
            </div>
          } @else {
            <div class="address-display__loader">
              <img src="asset/icon/motorbike.png" alt="Loading..." class="address-display__loader-icon">
            </div>
          }
        </div>
        <button (click)="getCurrentLocation()" class="btn btn-success" type="button">
          <i class="bi-geo-alt-fill"></i>
          Use Current Location
        </button>
      </div>
    </fieldset>
    <fieldset>
      <ul>
        <li>
          <div class="form-label">
            <label>Space for</label>
          </div>
          <div class="form-field form-field--sizes">
            @for (option of sizeOptions; track option) {
              <div>
                <label [ngClass]="option.value == location.size ? 'btn-accent' : 'btn-outline-accent'" class="btn"
                  for="size-{{option.value}}">{{option.name}}
                  <input [(ngModel)]="location.size" id="size-{{option.value}}" name="size" type="radio" value="{{option.value}}">
                </label>
              </div>
            }
          </div>
        </li>

        <li>
          <div class="form-label">
            <label>All day parking</label>
          </div>
          <div class="form-field form-field--locations">
            <div class="btn-group">
              <input [(ngModel)]="location.allDay" [value]="true" checked class="btn-check" id="all-day-yes" name="all-day" type="radio" />
              <label [ngClass]="location.allDay ? 'btn-accent' : 'btn-outline-accent'" class="btn" for="all-day-yes">Yes</label>
              <input [(ngModel)]="location.allDay" [value]="false" class="btn-check" id="all-day-no" name="all-day" type="radio" />
              <label [ngClass]="!location.allDay ? 'btn-accent' : 'btn-outline-accent'" class="btn" for="all-day-no">No</label>
            </div>
          </div>
        </li>

        @if (!location.allDay) {
          <li>
            <div class="form-label">
              <label>Time limit</label>
            </div>
            <div class="form-field">
              <input [(ngModel)]="location.hourLimit" class="form-control" name="name" placeholder="Hours" type="number" />
            </div>
          </li>
        }

        <li>
          <div class="form-label">
            <label>Restricted Hours</label>
          </div>
          <div class="form-field form-field--locations">
            <div class="btn-group">
              <input [(ngModel)]="location.restrictedHours" [value]="true" class="btn-check" id="restricted-hours-yes" name="restricted-hours"
                type="radio" />
              <label [ngClass]="location.restrictedHours ? 'btn-accent' : 'btn-outline-accent'" class="btn" for="restricted-hours-yes">Yes</label>
              <input [(ngModel)]="location.restrictedHours" [value]="false" checked class="btn-check" id="restricted-hours-no"
                name="restricted-hours" type="radio" />
              <label [ngClass]="!location.restrictedHours ? 'btn-accent' : 'btn-outline-accent'" class="btn" for="restricted-hours-no">No</label>
            </div>
          </div>
        </li>

        @if (location.restrictedHours) {
          <li>
            <div class="form-label">
              <label>Available Times</label>
            </div>
            <div class="form-field form-field--locations">
              <div class="btn-group">
                <input (ngModelChange)="location.startTime = $event" [ngModel]="location.startTime | date:'hh:mm'" class="form-control" name="start-time" placeholder="Start Time"
                  type="time" />
                <input (ngModelChange)="location.endTime = $event" [ngModel]="location.endTime | date:'hh:mm'" class="form-control" name="end-time" placeholder="End Time"
                  type="time" />
              </div>
            </div>
          </li>
        }

      </ul>
    </fieldset>

    <fieldset>
      <ul>
        <li>
          <div class="form-buttons">
            <button (click)="onSubmit()" class="btn btn-primary" type="button">Submit</button>
            <button (click)="onCancel()" class="btn btn-secondary" type="button">
              Cancel
            </button>
          </div>
        </li>
      </ul>
    </fieldset>
  </form>
</article>
