<article class="content">

    <header class="title-bar">
        <button class="btn btn-dark btn-block" routerLink="/locations/add" type="button">
            <i class="bi-signpost-split-fill"></i>
            Add a Park
        </button>
    </header>

    <div class="search">
        <input (onAddressChange)="onAddressChange($event)" *ngIf="!isLoading" class="form-control form-control-lg places-autocomplete"
               name="location"
               ngx-google-places-autocomplete
               placeholder="Where are we headed?" type="text" />
    </div>

    <div *ngIf="marker" class="marker">
        <h3>{{marker.name}}</h3>
        <div *ngIf="marker.size" class="street-sign">
            <div class="hour-limit">{{marker.hourLimit}}P</div>
            <div class="title">Motor Cycles Only</div>
            <div class="size">Spaces: {{getSizeOptionByValue(marker.size)}}</div>
            <div *ngIf="marker.startTime && marker.endTime" class="times">
                <div class="start-time">
                    {{marker.startTime | date: getTimeStringFormat(marker.startTime)}}
                </div>
                <span>-</span>
                <div class="end-time">
                    {{marker.endTime | date: getTimeStringFormat(marker.endTime)}}
                </div>
            </div>
            <div class="arrow">⟷</div>
        </div>


        <a *ngIf="marker.size" href="{{buildDirectionsLink(marker)}}" class="btn btn-primary" role="button" target="_blank">Get Directions</a>
    </div>

</article>
