<article class="content">
    <div class="search">
        <input (onAddressChange)="onAddressChange($event)" *ngIf="!isLoading" [options]=getPlacesAutoCompleteOptions()
               class="form-control places-autocomplete"
               name="location"
               ngx-google-places-autocomplete
               placeholder="Where are we headed?" type="text" />
    </div>

    <div *ngIf="marker" class="marker">
        <div class="address-display">
            <i class="bi-geo-alt-fill"></i>
            <h3>{{marker.name}}</h3>
        </div>
        
        <div *ngIf="marker.size" class="street-sign">
            <div class="hour-limit">{{marker.hourLimit}}P</div>
            <div class="title">Motor Cycles Only</div>
            <div class="size">Spaces: {{getSizeOptionByValue(marker.size)}}</div>
            <div *ngIf="marker.startTime && marker.endTime" class="times">
                <div class="start-time">
                    {{marker.startTime | date: getTimeStringFormat(marker.startTime)}}
                </div>
                <span>-</span>
                <div class="end-time">
                    {{marker.endTime | date: getTimeStringFormat(marker.endTime)}}
                </div>
            </div>
            <div class="arrow">⟷</div>
        </div>

        <div class="action-buttons">
            <button *ngIf="marker.size" (click)="openDirections(marker)" class="btn btn-primary" type="button">
                <i class="bi-map"></i>
                Get Directions
            </button>
        </div>
    </div>

</article>
